body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mypage-header{
  position: relative;
  background-image: url(./images/header_bg.jpg);
}
.mypage-header .mdl-layout__header-row{
  justify-content: center;
  padding: 0;
}

.mdl-layout__title{
  text-align: center;
  font-weight: 400;
  font-size:15px;
}

/* 顶部logo */
.mypage-logo-row{
  min-height: 200px;
}

.mypage-logo{
  background-image: url(./images/header_logo.jpeg) ;
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 50%;
  margin:10px auto;
}

/* 顶部导航栏 */
.mypage-nav-row{
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 50px;
}